<a href="https://colab.research.google.com/github/KaterynaSiniuta/DataMath/blob/main/hw_pandas_ukr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
from google.colab import drive
import shutil
import pandas as pd

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [4]:
num_men = data["sex"].value_counts().get("Male")
num_women = data["sex"].value_counts().get("Female")
print(f"Кількість чоловіків: {num_men}")
print(f"Кількість жінок: {num_women}")

Кількість чоловіків: 21790
Кількість жінок: 10771

**2. Який середній вік (ознака *age*) жінок?**

In [5]:
female_mean_age = data[data["sex"] == 'Female']['age'].mean()
print(f"Середній вік жінок: {female_mean_age}")

Середній вік жінок: 36.85823043357163

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [6]:
german = data["native-country"].value_counts(normalize=True).get("Germany")
print(f"Доля громадян Німеччини: {german}")

Доля громадян Німеччини: 0.004207487485028101

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [7]:
less_50k_mean_age = data[data["salary"] == '<=50K']['age'].mean()
less_50k_std_age = data[data["salary"] == '<=50K']['age'].std()
more_50k_mean_age = data[data["salary"] == '>50K']['age'].mean()
more_50k_std_age = data[data["salary"] == '>50K']['age'].std()
print(f"Середній вік тих, хто отримує більше 50K на рік: {more_50k_mean_age}")
print(f"Середньоквадратичне відхилення віку тих, хто отримує більше 50K на рік: {more_50k_std_age}")
print(f"Середній вік тих, хто отримує менше 50K на рік: {less_50k_mean_age}")
print(f"Середньоквадратичне відхилення віку тих, хто отримує менше 50K на рік: {less_50k_std_age}")

Середній вік тих, хто отримує більше 50K на рік: 44.24984058155847
Середньоквадратичне відхилення віку тих, хто отримує більше 50K на рік: 10.51902771985177
Середній вік тих, хто отримує менше 50K на рік: 36.78373786407767
Середньоквадратичне відхилення віку тих, хто отримує менше 50K на рік: 14.020088490824813

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:

high_income = data[data["salary"] == '>50K']

valid_education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]

all_have_higher_education = high_income["education"].isin(valid_education).all()

print("Твердження правдиве!" if all_have_higher_education else "Твердження хибне!")

Твердження хибне!

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [9]:
age_stats = data.groupby(["race", "sex"])["age"].describe()
max_age_amer_indian_eskimo = age_stats.loc[("Amer-Indian-Eskimo", "Male"), "max"]
print(f"Максимальний вік чоловіків раси Amer-Indian-Eskimo: {max_age_amer_indian_eskimo}")

Максимальний вік чоловіків раси Amer-Indian-Eskimo: 82.0

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [10]:
men = data[data["sex"] == "Male"]

married = men["marital-status"].isin(["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"])
unmarried = ~married

rich_married = men[married]["salary"].value_counts(normalize=True).get(">50K", 0)
rich_unmarried = men[unmarried]["salary"].value_counts(normalize=True).get(">50K", 0)

print("Одружених більше" if rich_married > rich_unmarried else "Неодружених більще")

Одружених більше

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [11]:
# Знаходимо максимальну кількість годин на тиждень
max_hours = data['hours-per-week'].max()

# Підраховуємо кількість людей, які працюють цей час
max_hours_count = data[data['hours-per-week'] == max_hours].shape[0]

# Підраховуємо кількість багатих людей серед тих, хто працює максимально кількість годин
rich_count = data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0]

# Обчислюємо відсоток багатих серед тих, хто працює максимально кількість годин
rich_percentage = (rich_count / max_hours_count) * 100

# Виводимо результат
print(f"Максимальна кількість годин на тиждень: {max_hours}")
print(f"Кількість людей, які працюють {max_hours} годин: {max_hours_count}")
print(f"Відсоток багатих серед них: {rich_percentage:.2f}%")

Максимальна кількість годин на тиждень: 99
Кількість людей, які працюють 99 годин: 85
Відсоток багатих серед них: 29.41%

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [12]:
average_hours_by_country_salary = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

print(average_hours_by_country_salary)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64